<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/login.css" />
    <title>Login Page</title>
  </head>
  <body>
    <%- include("header", {name, email, isLoggedIn}) %>
    <div class="loginForm">
      <h1>Enter Your Email</h1>
      <form action="/forgetPwd" method="post">
        <label for="email">Email*</label><br />
        <input name="email" type="text" placeholder="Email" required />
        <br />
        <input type="submit" value="submit" />
      </form>
      <a href="/login"><Button>Login</Button> </a>
      <% if(message) {%>
      <p style="color: red"><%= message%></p>
      <%}%>
    </div>
  </body>
</html>
